<form [formGroup]="examenForm" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Selectează examen</mat-label>
    <mat-select formControlName="examen" [(value)]="selectedExamen" (selectionChange)="onExamenChange()">
      <mat-option *ngFor="let item of data" [value]="item.examen">{{ item.examen }}</mat-option>
    </mat-select>
  </mat-form-field>
<div *ngFor="let disciplina of selectedCategori">
    <mat-form-field appearance="fill">
      <mat-label>{{ disciplina.disciplina }} - Nr. întrebări</mat-label>
      <input
        matInput
        type="number"
        [formControlName]="disciplina.disciplina"
        [attr.max]="disciplina.intrebari.length"
        min="1"
      />
      <mat-hint>Max: {{ disciplina.intrebari.length }}</mat-hint>
    </mat-form-field>
  </div>
<button matButton="outlined">Show snack-bar</button>
</form>