.tab-exam{
    max-width: 900px;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-fields{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.fields{
    display: flex;
    flex-direction: column;
    margin: 10px;
}