<div *ngIf="questions.length">
  <p><b>Întrebarea {{ currentIndex + 1 }}/{{ questions.length }}</b></p>
  <p>{{ questions[currentIndex].intrebare }}</p>

  <mat-radio-group [(ngModel)]="questions[currentIndex].selectedAnswer">
    <mat-radio-button
      *ngFor="let r of questions[currentIndex].raspunsuri; let i = index"
      [value]="i"
    >
      {{ r }}
    </mat-radio-button>
  </mat-radio-group>

  <div style="margin-top: 1rem;">
    <button mat-button (click)="prev()" [disabled]="currentIndex === 0">Prev</button>
    <button mat-button (click)="next()" [disabled]="currentIndex === questions.length - 1">Next</button>
    <button mat-raised-button color="primary" (click)="finalize()">
      Finalizează
    </button>
  </div>
</div>
